
.bg {
    background-image: url(../img/Optimized-iStock-896458188_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    height: 150vh;
}



.text-center {
    color: #333333;
}

.form-container {
    background-color: #F9F8F8;
    padding: 30px;
    width: 100%;
    box-shadow: 0px 0px 1px #000;
}

[type="text"],
[type="password"],
[type="email"] {
    border: none;
    outline: none;
    font-size: .7rem;
    padding: 1.5em;
}

input:focus-within {
    border: 1px solid #1652F0 !important;
}

.txt-gray{
    position: absolute;
    top: 31em;
    right: 6.5em;
    color:  #c0bbbb;
}

#eyeCon {
    position: absolute;
    top: 37em;
    right: 6.5em;
}

.form-check-label {
    font-family: inherit;
    font-size: 9.9291px;
}

.btn-block {
    color: #fff;
    background: #05B169;
    margin: auto;
    width: 30%;
    border: none;
}

a.signin {
    text-decoration: underline;
}


/* desktop screen size */
@media only screen and (min-width: 768px) {
    .form-check-label {
        font-weight: 300;
        font-size: 21px;
        line-height: 31px;
        margin-left: 4em !important;
    }

    [type="checkbox"] {
        margin-top: .4em;
        margin-left: 3em !important;
    }

    .btn-block {
        width: 20%;
    }
}