:root {
  --base-color: #1652f0;
  --primary-color: #05b169;
  --secondary-color: #ffcf40;
  --font-stack: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack);
  font-weight: bold;
  color: var(--base-color);
}

/* Utility */
.bg-base {
  background-color: var(--base-color) !important;
 }

.bg-primary {
 background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}


/* Header */
header {
  padding-left: 2rem;
  padding-right: 2rem;
  background: var(--secondary-color);
}

header nav .current {
  border-bottom: 2px solid var(--primary-color);
}

header .navbar-dark .navbar-nav .nav-link {
  color: #333 !important;
}

header .nav-btn.btn-outline-light:hover {
  color: var(--base-color) !important;
}

header nav .nav-item {
  margin-right: 1rem;
}

header nav .btn.bg-primary {
  padding-top: 0;
  padding-bottom: 0;
  background: var(--primary-color) !important;
}

header nav a:hover {
  opacity: 0.8;
}

header .btn:hover {
  opacity: 0.9 !important;
}


/* Footer */
