.signin{
    background-color:  #F9F8F8;
    border-radius: 0.4rem;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.content{
    background-image: url(../img/iStock-896458188_1.jpg);
    background-size: 100% 100%;
    overflow: hidden;
    min-height: 100vh;
}
.txt-gray{
    color:  #c0bbbb;
}
input{
    outline: none;
    border: none;
}
.input-field{
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
.input-field:focus-within{
    border: #1652f0 1px solid;
}

div#feedback:focus-within{
    border: #89f185 1px solid;
    border-radius: 0.3rem;
}

p#error{
    color: red;
    font-size: 0.8rem;
}
p.sign{
   font-size: 1.5rem;
}
p{
   font-size: 0.9rem;
}
footer p{
    color: white;
    font-size: 0.7rem;
    display: block;
    line-height: 200.5%;
    font-weight: 300;
    opacity: 0.7;
}
footer a{
  color: white;
  font-size: 0.7rem;
  display: block;
  line-height: 270%;
  font-weight: 300;
  opacity: 0.7;
}
footer a:hover{
    opacity: 0.9 !important;
    color: white !important;
    text-decoration: none;
}
footer p.head{
    opacity: 0.9;
    font-weight: 500;
    font-size: 0.8rem;
}
a{
    font-size: 0.9rem;
}

footer{
    background-color: #1652f0;
    padding: 4rem;
  
}
.logo img{
    width: 30px;
    height: 30px;
    transition: ease-in-out 0.4s all;
    cursor: pointer;
}
.logo img:hover{
    width: 35px;
    height: 35px;
}
