.signin{
    background-color:  #F9F8F8;
    border-radius: 0.4rem;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.content{
    background-image: url(../img/iStock-896458188_1.jpg);
    background-size: 100% 100%;
    overflow: hidden;
    min-height: 100vh;
}
.txt-gray{
    color:  #c0bbbb;
}
input{
    outline: none;
    border: none;
}
.input-field{
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
.input-field:focus-within{
    border: #1652f0 1px solid;
}

div#feedback:focus-within{
    border: #89f185 1px solid;
    border-radius: 0.3rem;
}

p#error{
    color: red;
    font-size: 0.8rem;
}
p.sign{
   font-size: 1.5rem;
}
p{
   font-size: 0.9rem;
}
