/* styles for desktop view */
@media only screen and (min-width:961px){
  /* for some dark mode uncomment this */
/* body{ */
  /* background: var(--mainBlack);
  color:var(--mainwhite); */
/* } */
/* styles for nav-bar */
.logo{
  width:150px;
  scroll-margin-top:4rem;
}
.burger{
  display: none;
}
.nav-bar{
  /* for some webkit browsers */
  position:-webkit-sticky;
  position:sticky;
  top:0;
  width:100%;
  height:60px;
  display:flex;
  z-index:1;
  background:var(--mainGrey);
  transition: var(--mainTransition);
}
.nav-bar-center{
  display:flex;
  width:100%;
  justify-content: space-around;
  align-items: center;
}
.navigation{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}
.nav-links{
list-style-type: none;
text-transform: uppercase;
margin:10px;
display: inline-block;
}
.nav-links a{
  text-decoration:none;
  letter-spacing: var(--mainSpacing);
  color:var(--mainBlack);
  transition:var(--mainTransition);
  display: block;
  font-size:.9rem;
}
.nav-links a:hover{
  color:var(--mainWhite);
  background:var(--primaryColor);
}

.link-btn{
  list-style-type: none;
}
.nav-btn{
  text-decoration: none;
  background: var(--mainGreen);
  padding:.7rem 1.8rem;
  color:var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
  transition: var(--mainTransition);
  border-radius: 7px;
  margin:10px;
}
.nav-btn:hover{
  background: var(--mainWhite);
  color:var(--mainGreen);
  border:1.5px solid var(--mainGreen);
}
#sign-in{
  padding:.7rem 2rem;
}
/* desktop view of sign in and get started nav btn */
.desktop-nav-btn{
  padding:.7rem;
}
/* styles for buttons */
.btn{
  padding:1rem 1.5rem;
  width:100%;
  margin:10px;
  background: var(--mainGreen);
  border:none;
  border-radius: 7px;
  color:var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
  cursor:pointer;
  transition: var(--mainTransition);
}
.btn:hover{
  background: var(--mainWhite);
  color:var(--mainGreen);
  border:1.5px solid var(--mainGreen);
}
.sign-in-btn{
  padding:1rem 3rem;
}
/* end of styles for nav btn */
/* ================== */

/* styles for search form  */
.search-form-container{
  margin:50px;
}
.search-form-container h1{
  text-align: center;
  color:var(--mainBlack);
  letter-spacing: var(--mainSpacing);
  margin:5px;
}
.search-form{
  width:70%;
  /* border:1px solid; */
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
}
.search{
  width:100%;
  position: relative;
}
.search-input{
  width:100%;
  padding:1rem 2rem;
  font-size: 1.2rem;
  transition: var(--mainTransition);
  border-radius: 7px;
}
.search-input:hover{
  border:2px solid var(--mainBlue);
}
.search-btn{
  width:40%;
}
.search input{
  text-indent: 5px;
}
.search .fa-search{
  color:var(--mainBlack);
  font-size:1.5rem;
  position:absolute;
  left: 5px;
  top:17px;
}
.search .fa-times-circle{
  color:var(--mainBlack);
  font-size: 1.9rem;
  position: absolute;
  right: 5px;
  top:17px;
  opacity: 0.6;
}

.search-results-prompt{
  margin:10px;
}
/* end of search form  */
/* ===================== */


/* styles for search result container */
.search-result-container{
  display: flex;
  flex-direction: column;
}
.search-result-container h2{
  color:var(--mainBlack);

}
.results-text-and-sort-container{
  display: flex;
  justify-content: space-between;
  margin:15px;
}

.results-text{
  color:var(--mainBlack);
}
.sort-parameter{
  color:var(--mainBlack);
}
/* end of search result container */
/* =========================== */

 /* styles for courses section */
.courses{
  display: flex;
  flex-direction:column;
  margin-bottom:20px ;
  scroll-margin-top: 4rem;
}


.course-grid-container{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  column-gap: 20px;
}
.image-of-course{
  width:100%;
  height:400px;
  transition: var(--mainTransition);
  margin:10px 0;
}

.course-holder{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1.5px solid var(--mainGrey);
  box-shadow: 0px 0px 5px 0px rgba(8,8,6,0.1);
  transition:var(--mainTransition);
  margin:7px;
}


.course-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity:.75;
}

.title ,.course-title{
  color:var(--mainBlack);
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin:10px 0;
  text-align: center;
}
.course-text{
  color:var(--mainBlack);
  letter-spacing: var(--mainSpacing);
  text-align:center;
}
.amount-of-lessons{
  font-size: .9rem;
  color:var(--mainBlue);
  font-weight:bold;
  display: block;
  margin:5px;
}
.course-author{
  color:var(--mainBlue);
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.ratings-learn-more-container{
  display: flex;
  justify-content: space-around;
  width:100%;
  margin:7px;
}
.fa-star{
  color:var(--mainYellow);
}

.learn-more{
  color:var(--mainBlue);
  font-size: .8rem;
}
/* end of courses section */
/* ============================ */

/* page scroller */
  .page-scroller{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    cursor: pointer;
  }
  .page-scroller p{
    color:var(--mainBlack);
  }
  .icon-scroller{
    font-size:1.3rem;
  }
/* end of page scroller */
/* ========================== */
/* styles for footer */
.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: var(--mainBlue);
  border:1px solid;
  width:100%;
  height:90vh;
}

.footer h2{
  color:var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  margin:7px;
}
  .footer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    column-gap: 10px;
    padding:1%;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    line-height: 32px;
    border:1px solid var(--mainYellow);
    padding:5px;
    margin:2px;
  }
  .footer-container-title{
    color:var(--mainWhite);
    letter-spacing: var(--mainSpacing);
    text-align:left;
    margin:5px 2px;
    text-decoration: underline;
  }
  .logo-container{
    width:100%;
    background:var(--mainWhite);
    text-align: center;
    border-radius: 5px;
  }
  .social-icon-links-container{
    display: flex;
    justify-content: space-around;
    margin:9px;
  }

  .social-icon{
    font-size: 2.5rem;
  }
  .fa-facebook-official{
    color:white;
  }
  .fa-youtube-square{
    color:red;
  }
  .fa-twitter-square{
    color:white;
  }
  .mission-statement{
    color:var(--mainWhite);
    font-size: .9rem;
  }
  .footer-lists{
    text-align: left;
  }
  .footer-lists p{
    color:var(--mainWhite);
    font-size: .9rem;
  }
  .footer-lists li{
    list-style-type: none;
    margin:7px;
  }
  .footer-lists a{
    text-decoration:none;
    font-size:.9rem;
    color:var(--mainWhite);
  }
  .footer-newsletter-text{
    color:var(--mainWhite);
  }
  .newsletter{
    position:relative;
    margin:auto;
  }
    .newsletter .newletter-input{
    padding:1rem;
    font-size: .9rem;
    width: 100%;
  }
  .newsletter .right-arrow-in-footer{
    position: absolute;
    right:0px;
    top:1px;
    font-size: 3.2rem;
    color:var(--mainWhite);
    background: var(--mainGreen);
    cursor: pointer;
  }
  .copyright{
    width:100%;
    height: 20px;
  }
.copyright-text{
  color:var(--mainWhite);
}
/* end of footer section */
/* ============================ */
/* end of desktop view */
}
